<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">
    <Button class="btn btn-primary btn-active" id="button" text="Tap me!" (tap)="makePostRequest()"></Button>
</GridLayout>